.container {
  width: 50%;
  margin: 0 auto;
}

.container > h3 {
  width: 100%;
  border-bottom: 3px solid var(--main-color);
  font-style: italic;
  font-weight: 1000;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container > h3 > span {
  font-style: normal;
  margin-right: 10px;
  width: 20px;
}

.container > h3 > button {
  margin-left: auto;
}

.container > ul {
  list-style-position: inside;
  border-left: 3px solid var(--main-color);
  overflow: hidden;
  height: 0px;
  transition: all 0.3s;
}

.container > ul > li {
  font-size: 18px;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3px;
}

.container > ul > li > a {
  width: 100%;
}

.opened {
  padding-top: 2vh;
  height: initial !important;
}
