* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--main-color);
  transition: all .3s;
}

:root {
  --main-color: #ff0000;
}

button {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  background-color: #fff;
  color: var(--main-color)
}

input {
  border: 3px solid var(--main-color);
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
}

textarea {
  border: 3px solid var(--main-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 18px;
  height: 150px;
}

@media (max-width: 900px) {
  main > * {
    width: 100%!important;
  }
}